header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-weight: 10;
    font-size: 45px;
}

nav {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

li {
    padding-right: 60px;
}